{% extends '::base.html.twig' %}
{% block body %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            	<p style="display: block; float: left; margin-right: 20px;">
                Logged as <strong>{{ app.user.username }}</strong>
                <br />
                </p>
                <a style="display: block; float: left;" href="{{ path('fos_user_security_logout') }}">Click to logout</a>
            {% endif %}
        </div>

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            Message
        </div>
        {% endfor %}
{% endblock %}
