.imageRotatorImageCurent{
	border: 1px solid #adadad;
	padding: 8px;
	background-color:white;
	position: relative;
	z-index:-1;	
	width: 650px;
}

.imageRotatorSmallImages img{
	border: 1px solid #adadad;
	display: block;
	width: 200px;
	float: left; 
	margin-top: 5px;
	margin-right: 5px;
}

.imageRotatorSmallImages{
	margin-top:-30px;
	padding-left:25px;
	position: relative;
	z-index:2;
}